<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChitChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChitChat.Properties.Settings>
            <setting name="supabaseURL" serializeAs="String">
                <value>https://pblidipsxjrfmmousmwh.supabase.co</value>
            </setting>
            <setting name="supabaseKey" serializeAs="String">
                <value>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBibGlkaXBzeGpyZm1tb3VzbXdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUyMDUxNTcsImV4cCI6MjAzMDc4MTE1N30.PkJ2W98C0Avn6sCdoPXhnVwUnOTLWyfCXXqaoYvliIk</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>v1.4.3-alpha</value>
            </setting>
        </ChitChat.Properties.Settings>
    </applicationSettings>
</configuration>